.title {
    background-color: #13293d;
    font-size: 65px;
    color: #ffffff;
}
h2 {
    padding: 5px;
    background-color: #607d8b;
    color: #ffffff
}

body {
    background-color: #006494;
}

table {
    background-color: #1b98e0;
}
td {
    padding: 5px;
    background-color: #e8f1f2;
    color: #000000;
    font-size: 30px;
}