.title {
    background-color: #13293d;
    font-size: 65px;
    color: #ffffff;
}
h2 {
    font-size: 40px;
    padding: 5px;
    background-color: #607d8b;
    color: #ffffff
}

body {
    background-color: #006494;
}

table {
    background-color: #1b98e0;
}
td {
    padding: 5px;
    background-color: #e8f1f2;
    color: #000000;
    font-size: 30px;
}
p {
    font-size: 25px;
    color: #ffffff;
}

button {
    width: 150px;
    height: 75px;
    font-size: 25px;
    background-color: #1b98e0;
    color:#e8f1f2;
}
.button {
    text-decoration: none;
    color: white;
}
ul {
    color: white;
    font-size: 25px;
}
#webseite {
	width: 1920px;
	height: 1080px;
    margin: 0 auto;
}
#kopfbody{
    background-color: #13293d;
    padding-left: 0;
}
#kopf {
	width: auto;
	height: auto;
    background-color: #13293d;
}
#menue {
	width: 175px;
	height: 450px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
#inhalt {
	width: 790px;
	height: 450px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}
#fuss{
	width: 975px;
	height: 60px;
	clear: both;
}
object{
	width: 100%;
	height: 100%;
    border-style: solid;
    border-width: 1px;
}