.title {
    background-color: #13293d;
    font-size: 55px;
    color: #ffffff;
}
h2 {
    font-size: 40px;
    padding: 5px;
    background-color: #607d8b;
    color: #ffffff
}

body {
    background-color: #006494;
}

table {
    background-color: #1b98e0;
}
td {
    padding: 5px;
    background-color: #e8f1f2;
    color: #000000;
    font-size: 30px;
}
p {
    font-size: 25px;
    color: #ffffff;
}

button {
    width: 150px;
    height: 75px;
    font-size: 25px;
    background-color: #1b98e0;
    color:#e8f1f2;
}
.button {
    text-decoration: none;
    color: white;
}
ul {
    color: white;
    font-size: 25px;
}
